:root {
  --color-primary: #6e52f7;
  --color-primary-light: #8c75ff;
  --color-primary-dark: #4b2fcc;
  --color-success: #78ffcb;
  --color-success-light: #b0ffe1;
  --color-success-dark: #4fd39f;
  --color-warning: #ffdb63;
  --color-warning-light: #ffeaa0;
  --color-warning-dark: #e5b400;
  --color-danger: #ff5e78;
  --color-danger-light: #ff94a7;
  --color-danger-dark: #d43f56;

  --text-main: #0f172a;
  --text-light: #f8fafc;
  --bg-main: #ffffff;
  --bg-dark: #0f172a;

  --font-main: Arial, sans-serif;
  --font-headlines: Verdana, sans-serif;
  --base-unit: 16px;
  --spacing-ratio: 1.5;
  --container-width: 900px;
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
}
