.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
}

.container-full {
  width: 100%;
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
}
