.bg-primary { background-color: var(--color-primary); }
.bg-warning { background-color: var(--color-warning); }
.bg-success { background-color: var(--color-success); }
.bg-danger { background-color: var(--color-danger); }
.bg-dark { background-color: var(--bg-dark); }

.text-primary { color: var(--color-primary); }
.text-warning { color: var(--color-warning); }
.text-success { color: var(--color-success); }
.text-danger { color: var(--color-danger); }
