.img-full { width: 100%; height: auto; display: block; }
.img-rounded { border-radius: 1rem; }
.img-circle { border-radius: 9999px; }
.img-cover { width: 100%; height: 100%; object-fit: cover; }
.img-contain { width: 100%; height: 100%; object-fit: contain; }
